/* Default Page Attributes */


html,
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

@property --gradient-color {
    syntax: '<color>';
    inherits: false;
    initial-value: rgba(255, 255, 255, 0.5);
}

body {
    --gradient-color: rgba(255, 255, 255, 0.5);
    transition: --gradient-color 500ms;
    background: linear-gradient(180deg, var(--gradient-color) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, var(--gradient-color) 100%);
    height: 100vh;
}


/* Default attributes */


:root {
    --outer-game-table-cell-symbol-color: black;
    --inner-game-table-cell-symbol-color: black;
    --symbol-font-weight: normal;
    --inner-cell-hover-color: rgba(0, 0, 0, 0);
    --winning-line-color: black;
    --winning-line-angle: 0deg;
    --winning-line-x-translation: 0px;
    --winning-line-y-translation: 0px;
}



/* Default Tic Tac Toe Board Look ---> See classes below this section (comment section) for additional attributes */



section.game-table-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

table.outer-game-table > tbody > tr > td.outer-game-table-cell {
    width: 150px;
    height: 150px;
    user-select: none;
    text-align: center;
    line-height: 150px;
    font-size: 160px;
}

table.inner-game-table > tbody > tr > td.inner-game-table-cell {
    width: 20px;
    height: 20px;
    user-select: none;
    text-align: center;
    line-height: 20px;
    font-size: 30px;
}

table.outer-game-table,
table.inner-game-table {
    border-collapse: collapse;
    margin: 6px auto;
}

td.vertical-border {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

td.horizontal-border {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}



/* Outer Game Table Attributes */



table.outer-game-table > tbody > tr > td.outer-game-table-cell {
    color: var(--outer-game-table-cell-symbol-color);
    outline-style: solid;
    outline-width: 0px;
    outline-color: white;
    /* transform-origin: center center; */
    transition: all 1000ms ease-in-out;
}



/* Inner Game Table Attributes */



table.inner-game-table {
    z-index: 1;
    /* transform-origin: center center; */
    transition: all 1000ms ease-in-out;
}

table.inner-game-table > tbody > tr > td.inner-game-table-cell {
    font-weight: var(--symbol-font-weight);
    color: var(--inner-game-table-cell-symbol-color);
    transition: background-color 500ms;
}

table.inner-game-table > tbody > tr > td.inner-game-table-cell:hover {
    background-color: var(--inner-cell-hover-color);
}



/* Zooming Attributes for Outer Table Cell and Inner Table */



table.outer-game-table > tbody > tr > td.outer-game-table-cell.zoomed {
    transform: scale(2);
    outline-style: solid;
    outline-width: 2px;
    outline-color: black;
    backdrop-filter: blur(3px);
}

table.inner-game-table.zoomed {
    transform: scale(2);
}



/* Winning Line Classes Added by Javascript */



div.winning-line-container {
    position: absolute;
    transform-origin: center center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div.winning-line {
    position: relative;
    width: 0px;
    height: 2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    z-index: 3;
    /* transform-origin: center center; */
    transform: rotate(var(--winning-line-angle));
    left: var(--winning-line-x-translation);
    bottom: var(--winning-line-y-translation);
    background-color: var(--winning-line-color);
    transition: width 500ms ease;
}

div.deluxe-winning-line {
    position: relative;
    width: 0px;
    height: 30px;
    color: rgb(120, 50, 5);
    text-shadow: 0 3px 3px rgba(188, 168, 133, 1);
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    /* border: 1px solid #a55d07; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(110, 80, 20, .4),
        inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
        inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    border-radius: 2px;
    z-index: 3;
    transform: rotate(var(--winning-line-angle));
    left: var(--winning-line-x-translation);
    bottom: var(--winning-line-y-translation);
    transition: width 2000ms ease;
}



/* Winning Cell Attributes */



table.outer-game-table > tbody > tr > td.outer-game-table-cell.winning-cell {
    opacity: 0;
    color: rgb(120, 50, 5);
    text-shadow: 0 3px 3px rgba(188, 168, 133, 1);
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    /* border: 1px solid #a55d07; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(110, 80, 20, .4),
        inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
        inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
}



/* Error Message Class for Javascript */



section.error-message {
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
    user-select: none;
    width: 600px;
    height: 80px;
    border-radius: 10px;
    background-color: rgb(253, 80, 80);
    border: 2px solid black;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    line-height: 80px;
    transition: opacity 500ms;
    opacity: 0;
}



/* Flipping Coin Class to Break Ties */



section.coin-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.coin {
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    display: block;
    transition: all 1000ms ease-in;
}

div.coin > div.front-side,
div.coin > div.back-side {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3), 0 12px 20px -10px rgba(0, 0, 0, 0.4);
}

div.coin > div.front-side {
    background-color: rgb(255, 82, 82);
    border: 8px solid rgba(0,0,0,0.3);
    user-select: none;
    text-align: center;
    font-weight: bolder;
    text-shadow: -5px 2px 0px rgba(0,0,0,0.2);
    line-height: 300px;
    font-size: 250px;
}

div.coin > div.back-side {
    background-color: rgb(73, 205, 245);
    border: 8px solid rgba(0,0,0,0.3);
    transform: rotateY(-180deg);
    user-select: none;
    text-align: center;
    font-weight: normal;
    text-shadow: -5px 2px 4px rgba(0,0,0,0.2);
    line-height: 300px;
    font-size: 250px;
}

div.coin.heads {
    animation: flipHeads 3s ease-out forwards;
}

div.coin.tails {
    animation: flipTails 3s ease-out forwards;
}

@keyframes flipHeads {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(1800deg);
    }
}

@keyframes flipTails {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(1980deg);
    }
}



/* Disabler Class for Javascript */



.disable {
    display: none;
}

.visually-hidden {
    opacity: 0;
  }