/* Default Page Attributes */


html,
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}


/* Default Tic Tac Toe Board Look */


table.outer-game-table > tbody > tr > td.outer-game-table-cell {
    width: 150px;
    height: 150px;
    user-select: none;
    text-align: center;
    line-height: 150px;
    font-size: 30px;
    color: var(--outer-game-table-cell-symbol-color);
}

table.inner-game-table > tbody > tr > td.inner-game-table-cell {
    width: 20px;
    height: 20px;
    user-select: none;
    text-align: center;
    line-height: 20px;
    font-size: 30px;
    color: var(--inner-game-table-cell-symbol-color);
}

table.outer-game-table,
table.inner-game-table {
    border-collapse: collapse;
    margin: 6px auto;
}

.vertical-border {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.horizontal-border {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/* Outer Game Table Attributes */


.game-table-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

table.outer-game-table > tbody > tr > td.outer-game-table-cell {
    outline-style: solid;
    outline-width: 0px;
    outline-color: white;
    transform-origin: center center; /* Center the zoom around the middle */
    transition: all 1000ms ease-in-out;
}

table.inner-game-table {
    transform-origin: center center;
    transition: all 1000ms ease-in-out;
}


/* Inner Game Table Attributes */

table.outer-game-table > tbody > tr > td.outer-game-table-cell.zoomed {
    transform: scale(2);
    outline-style: solid;
    outline-width: 2px;
    outline-color: black;
    backdrop-filter: blur(3px);
}

table.inner-game-table.zoomed {
    transform: scale(2);
}


/* Error Message Class for Javascript */


.error-message {
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
    user-select: none;
    width: 600px;
    height: 80px;
    border-radius: 10px;
    background-color: rgb(253, 80, 80);
    border: 2px solid black;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    line-height: 80px;
    transition: opacity 500ms;
    opacity: 0;
}


/* Disabler Class for Javascript */


.disable {
    display: none;
}